# ============================================================================
# Config file for Quality Control
# ==========================================[ Sections for the users ]========
#
# One of input_directory, input_pattern and input_samples must be provided
# If input_directory provided, use it otherwise if input_pattern provided,
# use it, otherwise use input_samples.
# ============================================================================
input_directory: /home/cokelaer/Data/Pacbio/pacbio_qc/data
input_readtag: ''
input_pattern: '*.bam'


bam_to_fasta:
    thread: 4


######################################################
# Taxonomic analysis
#
# Provide as many databases as you want. They will be 
# used sequentially.
kraken:
    do: true
    thread: 4
    databases:
        - ~/.config/sequana/kraken2_dbs/viruses_masking/


##############################################################################
# MultiQC section
#
# :Parameters:
#
# - options: string with any valid MultiQC options

multiqc:
    input_directory: .
    options: -p -f
    modules: " pacbio_qc"
    config_file: ""



